{% extends 'blog/base.html' %}
{%load static%}
{% block title %}
  Статьи
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'blog/blog.css'%}">
{% endblock %}

{% block content %}
<main class="container">
  <div class="row g-5">
    <div class="col-md-12">
      <div class="row mb-2">
        {% for post in news%}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 ">{{ post.topic.title }}</strong>
              <h3 class="mb-0 text-gray-dark">{{post.title}}</h3>
              <div class="mb-1 text-muted">{{post.date|date:"d E Y в H:i"}}</div>
              
              <a href="{% url 'detail_post' post.id %}" class="stretched-link">Читать далее</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="{{ post.topic.img.url }}" class="bd-placeholder-img" width="200" height="250">
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    </div>
  </div>
</main>



{% endblock %}
